<h1 class = "page-header">All Shelters</h1>

<ul id = "all-index">
  <% @shelters.each do |shelter| %>
  <p><%= link_to "#{shelter.name}", "/shelters/#{shelter.id}" %><%= link_to "Edit #{shelter.name}", "/shelters/#{shelter.id}/edit" , method: :get %>
  <% end %></p>
</ul><br>
<br>
<%= link_to "New Shelter", '/shelters/new', method: :get %>
